* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  flex: 0.5;
  position: relative;
  height: 80vh;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  transition: all 700ms ease-in;
}

.panel h3 {
  position: absolute;
  inset: auto auto 5px 20px;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 300ms ease-in 400ms;
}
